
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  img {
    height: 100%
  }
}

.toggle-container {
  display: none;
}

.links {
  list-style-type: none;
  display: flex;
  gap: 4rem;

  li {
    a {
      color: var(--accent-color1);
      text-decoration: none;
      &:last-of-type {
        color: var(--pink)
      }
    }
  }
}


